<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4 items-center">
    <input type="text" class="rounded-2xl border h-full w-full px-4 py-2 bg-gray-200" 
        placeholder="Название"
        formControlName="title">
    <input type="text" class="rounded-2xl border h-full w-full px-4 py-2 bg-gray-200" 
        placeholder="Адрес"
        formControlName="address">
    <button type="submit"
        class="rounded-2xl border h-full w-1/2 px-4 py-2 bg-orange-300"><strong>Добавить</strong></button>
</form>