<form *ngIf="form" class="flex flex-col items-center w-full gap-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="text-4xl font-bold text-center mt-2 mb-4">{{!form.value.product?.id ? selectBakery ? 'Создание и добавление' : 'Добавление' : 'Редактирование'}}</div>
    <div class="flex justify-between flex-grow w-full gap-4">
        <div class=" " (click)="filePicker.click()">
            <div class="border-dashed border-4 w-52 h-52 rounded-xl select-none">
                <div *ngIf="imagePreview !== '' && imagePreview" class="w-full h-full flex items-center justify-center">
                    <img [src]="imagePreview" alt="form.value.title">
                </div>
                <div *ngIf="!imagePreview" class="w-full h-full flex flex-col items-center justify-center">
                    <img src="/assets/images/addImage.svg" alt="+" class="w-2/3 divide-orange-300 fill-slate-500">
                    <p>Добавить изображение</p>
                </div>

            </div>

            <input type="file" (change)="onImagePicked($event)" #filePicker hidden>
        </div>
        <div class="flex flex-col justify-around flex-grow gap-2">
            <div class="flex flex-col justify-around flex-grow" formGroupName="product">
                <p class="text-xl font-bold">Название:</p>
                <input type="text" maxlength="100" class="rounded-2xl w-full px-4 py-2 bg-gray-200 outline-none focus:bg-blue-200"
                    placeholder="Название" formControlName="name">
                <p class="text-xl font-bold">Размерность:</p>
                <input type="number" class="rounded-2xl w-full px-4 py-2 bg-gray-200 outline-none focus:bg-blue-200"
                    placeholder="volume" formControlName="volume">
                <p class="text-xl font-bold">Категория:</p>
                <select class="rounded-2xl w-full px-4 py-2 bg-gray-200 outline-none focus:bg-blue-200"
                    formControlName="category">
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div *ngIf="selectBakery" class="flex gap-4 w-1/2">
        <p class="text-xl font-bold">Цена:</p>
        <input type="number" class="rounded-2xl w-full px-4 py-2 bg-gray-200 outline-none focus:bg-blue-200"
            placeholder="цена" formControlName="price">
    </div>
    <div class="w-full">
        <p class="text-xl font-bold">Ингредиенты:</p>
        <div class="w-full rounded-2xl bg-gray-200 h-52 p-4 overflow-auto shadow-inner">

            <div class="grid grid-cols-2 gap-4">
                <button type="button" *ngFor="let ingredient of ingredients"
                    class="p-2  rounded-xl shadow-lg {{isSelect(ingredient) ? 'bg-orange-200 font-bold':'bg-white'}}"
                    (click)="isSelect(ingredient) ? delIngredient(ingredient) : addIngredient(ingredient)">{{ingredient.name}}</button>
            </div>
        </div>
    </div>
    <div class="text-red-800">{{mes}}</div>
    <button type="submit" class="p-4 rounded-xl bg-orange-200 font-bold">Сохранить</button>
</form>