<div class="max-w-2xl container mx-auto pt-20 flex flex-col">
    <div class="mt-5 flex flex-col gap-4">
    
            <app-ingredient-item *ngFor="let ingredient of ingredients" [ingredient]="ingredient" (eventDel)="del($event)" />

        <div (click)="add()" class="rounded-xl border-dashed border-2 p-4 px-6">
            add
        </div>
    </div>

</div>
<!-- <app-modal-dialog *ngIf="modalService.isVisible()">
    <app-modal-form-ingredient [ingredient]="selectIngredient" (response)="saveIngredient($event)" />
</app-modal-dialog> -->