<div class="max-w-5xl mx-auto pt-20 flex">
    <div class="sticky top-20 flex-grow rounded-2xl h-20 p-4  flex flex-col gap-4">
        <app-select-two />
        <input class="rounded-2xl w-full px-4 py-2 bg-gray-200 outline-none focus:bg-blue-200" [(ngModel)]="term"
            placeholder="Поиск" />

        <div (click)="create()"
            class="rounded-lg border-dashed border-2 flex flex-col items-center hover:scale-110 hover:border-red-800 cursor-pointer pb-10 select-none">

            <h1 class="font-bold text-9xl underline-offset-0 text-gray-300 text-clip">+</h1>
            <h1 class="font-bold text-xl text-gray-300 text-clip "> {{selectedBakery?.name ? 'Создать и добавить':'Создать товар'}}</h1>



        </div>
    </div>
    <!-- <input class="sticky top-20 rounded-2xl w-full px-4 py-2 bg-gray-200 outline-none focus:bg-blue-200" [(ngModel)]="term"/> -->
    <div class=" max-w-2xl container   flex flex-col">
        <!-- <app-menu class="flex-grow" [productCategories]="bakeryService.productCategories"/> -->
        <!-- <div class="max-w-2xl flex-grow-0 container "> -->
        <div class="flex justify-between p-2">
            <p class="text-5xl font-bold ">Товары {{selectedBakery?.name}}</p>
            <div *ngIf="selectedBakery" class="w-10 cursor-pointer select-none">
                <span *ngIf="isShow" class="material-symbols-outlined text-5xl" (click)="change(!isShow)">
                    visibility_off
                    </span>
                <span *ngIf="!isShow" class="material-symbols-outlined text-5xl" (click)="change(!isShow)">
                    visibility
                    </span>
            </div>
        </div>



        <div *ngIf="allProducts" class="w-full flex flex-col gap-10">



            <div *ngIf="allProducts | filterProduct:term as filterProducts">

                <div *ngFor="let category of filterProducts | keyvalue " class="flex flex-col">
                    <div class="text-2xl my-6 font-semibold">{{category.key}}</div>
                    <div class="grid grid-cols-3 gap-4">
                        <app-product *ngFor="let productPrice of category.value " [productPrice]="productPrice" (eventDelete)="del($event)" (eventEdit)="edit($event)"/>
                    </div>
                </div>
                <div *ngIf="!filterProducts.size">
                    Таких булочек пока нет
                </div>
            </div>
        </div>
        <div *ngIf="!allProducts" class="w-full">
            <app-loading *ngIf="!status" />

            <div *ngIf="status == 'error'"
                class="h-12 font-bold font-sans justify-center flex gap-4 text-red-600 select-none ">
                Ошибка!
                
            </div>

        </div>


    </div>

</div>

<!-- <app-right-side-panel class="flex-grow "/> -->
<!-- </div> -->