
<div class="max-w-4xl container mx-auto pt-20 flex ">
<div *ngIf="product" class="w-full container mx-auto relative flex">
    <div class="flex justify-between">
        <h1 class="text-center font-bold text-5xl">{{product.name}}</h1>

    </div>
    <div class=" absolute right-0 translate-x-1/2 w-96 h-96 object-cover rounded-full  ">
        <!-- <img  [src]="image" alt="картинка"
                class="z-10 object-cover w-full h-full rounded-full"> -->
        <img *ngIf="product" src="http://localhost:8080/api/product/image/{{product.id}}"  alt="картинка" class="z-10 object-cover w-full h-full rounded-full">
    </div>
    
</div>
</div>