<div class="w-full h-12 relative items-center " (click)="isOpen = !isOpen">
    <div class="absolute top-0 w-full min-h-full rounded-2xl bg-white {{isOpen ? 'shadow-lg' : 'rounded-2xl'}} select-none" >
        <div class="h-12 p-3 bg-slate-300 {{isOpen ? 'rounded-t-2xl' : 'rounded-2xl'}} ">
            <strong>
                <span *ngIf="selectBakery">{{selectBakery.name}}</span>
                <span *ngIf="!selectBakery">{{title}}</span>
            </strong>
        </div>
        <div *ngIf="isOpen" class="">
            <div class="h-12 p-3 hover:bg-zinc-200 rounded-b-2xl" (click)="addBakery()"><strong>Добавить новую пекарню +</strong></div>

            <div *ngFor="let bakery of items" class="h-12 relative hover:bg-zinc-200 rounded-2xl">
                <div class="h-full w-full p-3  " (click)="changeBakery(bakery)">
                    {{bakery.name}}
                </div>
                <div class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 font-semibold hover:text-red-500" (click)="delBakery(bakery)">
                    ✕
                </div>
            </div>
        </div>
    </div>
    
    
</div>
