<div class="text-2xl my-6 font-semibold">{{productCategory?.category?.name}}</div>
<div  class="grid grid-cols-3 gap-4">
    <app-product *ngFor="let productBakery of productCategory?.productBakerys" [productBakery]="productBakery" />
    <!-- <div (click)="addProduct()" class="group p-4 flex items-center flex-col h-60 justify-center relative hover:scale-110 rounded-2xl border-2 border-dashed hover:border-red-800 cursor-pointer">
        
        <h1 class="font-bold text-9xl underline-offset-0 text-gray-300 text-clip ">+</h1> 
        <h1 class="font-bold text-xl text-gray-300 text-clip ">Добавить</h1> 


    </div> -->

    <div class="group h-64 hover:scale-110">
        <div class="flex items-center flex-col w-full h-full p-1 justify-end relative"
                >
                <div class=" absolute top-0 w-40 h-40 object-cover rounded-full  ">
                        <img  src="/assets/images/no-image.png" alt="картинка" class="z-10">
                </div>


                <div
                        class="flex items-center flex-col w-full h-2/3 rounded-2xl shadow-xl justify-end bottom-0 group-hover:border-red-800 group-hover:border-2 border ">
                        <h2 class="z-10 text-2xl pb-1"><strong>Тест</strong></h2>
                        <p class="z-10 text-xs">100 мл</p>
                        <h2 class="text-xl z-10 mb-4"><strong>100 ₽</strong></h2>
                </div>
        </div>

</div>
</div>
