<div class="w-full h-20 shadow-lg fixed z-20 bg-white flex items-center justify-center gap-10">
    <div routerLinkActive="text-red-800" routerLink="/product" class="text-4xl font-bold cursor-pointer text-gray-300" >
        Товары
    </div>
    <div routerLinkActive="text-red-800" routerLink="/categories" class="text-4xl font-bold cursor-pointer text-gray-300" >
        Категории
    </div>
    <div routerLinkActive="text-red-800" routerLink="/ingredients" class="text-4xl font-bold cursor-pointer text-gray-300">
        Ингредиенты
    </div>
    <div routerLinkActive="text-red-800" routerLink="/persons" class="text-4xl font-bold cursor-pointer text-gray-300">
        Персонал
    </div>
</div>