<div class="w-full h-20 shadow-lg fixed z-20 bg-white flex items-center">
        <div class="max-w-2xl container mx-auto h-12">
            <!-- <app-select-two [bakerys]="bakerys"/> -->

        </div>
        <div class="absolute right-0">
            <div routerLink="/">
                Товары
            </div>
            <div routerLink="/categories">
                Категории
            </div>
            <div routerLink="/ingredients">
                Ингредиенты
            </div>
        </div>
</div>