
    <div *ngIf="bakery" class="h-12 relative hover:bg-zinc-200">
        <div class="h-full w-full p-3" (click)="changeBakery()">
            {{bakery.name}}
        </div>
        <div class=" absolute right-3 top-1/2 -translate-y-1/2 flex gap-4 select-none">
            <img *ngIf="!status" src="/assets/images/edit.svg" alt="+" class=" w-4 cursor-pointer" (click)="editBakery()">
            <div *ngIf="!status" class=" text-gray-400 font-semibold hover:text-red-500 cursor-pointer" (click)="delBakery()">
                ✕
            </div>
            <app-loading *ngIf="status == 'loading'" />
            <div *ngIf="status == 'error'" class="flex gap-4 items-center"> 
                <div class=" font-bold font-sans flex justify-center text-red-600 p-4">
                    Ошибка!
                </div>
                <div class=" text-gray-400 font-semibold hover:text-red-500 cursor-pointer" (click)="status = undefined">
                    ✕
                </div>
            </div>
        </div>
    </div>

