<div class="w-full h-full relative items-center z-20" >
    <div class="absolute top-0 w-full min-h-full rounded-2xl bg-white {{isOpen ? 'shadow-lg' : 'rounded-2xl'}} select-none" >
        <div class="h-12 p-3 bg-slate-300 {{isOpen ? 'rounded-t-2xl' : 'rounded-2xl'}} " (click)="isOpen = !isOpen">
            <strong>
                <span *ngIf="selectBakery">{{selectBakery.name}}</span>
                <span *ngIf="!selectBakery">Выбирете пекарню</span>
            </strong>
        </div>
        <div *ngIf="isOpen" class="">
            <div class="h-12 p-3 hover:bg-zinc-200" (click)="addBakery()"><strong>Добавить новую пекарню +</strong></div>
            <div class="h-12 p-3 hover:bg-zinc-200" (click)="changeBakery(undefined)"><strong>Все товары</strong></div>
            <app-select-item *ngFor="let bakery of bakerys" [bakery]="bakery" (change)="changeBakery($event)">
            </app-select-item>
        </div>
    </div>
    
    
</div>
