<div [hidden]="!( md.component$ | async)">
<div  class=" bg-black/50 fixed z-20 top-0 bottom-0 right-0 left-0 w-screen h-screen"
    (click)="close()">
</div>

<div
    class="fixed bg-white top-0 w-[600px] mt-24 rounded-2xl shadow-lg p-4 px-16 z-40 left-1/2 -translate-x-1/2 flex flex-col gap-4 items-center">
   
    <ng-template appModel ></ng-template>
    
    <!-- <app-add-product class="w-full" *ngSwitchCase="Modal.addProduct" (response)="confirm($event)"/>
    <app-add-bakery *ngSwitchCase="Modal.addBakery" />
    <app-del-bakery *ngSwitchCase="Modal.delBakery" (response)="confirm($event)"/>
    <app-add-category *ngSwitchCase="Modal.addCategory" (response)="confirm($event)"/>
    <app-add-ingredient *ngSwitchCase="Modal.addIngredient" (response)="confirm($event)" />
    <div *ngSwitchDefault>Ой, такого модального окна нет</div> -->
</div>
</div>
