<div class=" flex flex-col items-center ">
    <div class="w-full flex bg-gray-300">
        <div class=" bg-slate-500 rounded-br-2xl  w-1/3"></div>
        <div class="flex w-full bg-white">
            <button (click)="type=false" class="w-1/2 bg-white p-4 rounded-b-2xl">Создать</button>
            <button (click)="type=true" class="w-1/2 bg-gray-300 drop-shadow-xl p-4 rounded-t-2xl">Добавить</button>
        </div>
        <div class=" bg-white  rounded-bl-2xl w-1/3"></div>
    </div>
    
    <app-create-product *ngIf="!type" [form]="form" class="w-full"/>
    <app-select-product *ngIf="type" class="w-full"/>
    <!-- <div class="flex justify-between w-full">
        <div class="rounded-full border-dashed {{step!==1 ? 'border-2' :'bg-orange-200' }} w-12 h-12 flex items-center justify-center">1</div>
        <div class="rounded-full border-dashed {{step!==2 ? 'border-2' :'bg-orange-200' }} w-12 h-12 flex items-center justify-center">2</div>
        <div class="rounded-full border-dashed {{step!==3 ? 'border-2' :'bg-orange-200' }} w-12 h-12 flex items-center justify-center">3</div>
    </div>
    <div [ngSwitch]="type" class="w-full flex flex-col items-center">
        <div *ngSwitchCase="false" class="w-full">
                <app-first-step *ngIf="step==1" [form]="form.value.firstGroup"/> 
                <app-second-step *ngIf="step==2"/>
                <app-select-bakery *ngIf="step==3" class="w-full flex flex-col gap-4"/>
            
        </div>
        <div *ngSwitchCase="true">

        </div>
    </div>
    <div class="flex gap-4 w-full">
        <button *ngIf="step!==1" class="p-2 rounded-lg bg-orange-200" (click)="backStep()">‹</button>
        <button class="p-2 rounded-lg bg-orange-200" (click)="forwardStep()">›</button>
    </div> -->
    <p>Form G: {{form.value | json}}</p>
    
</div>